services:
  source_db:
    image: postgres:16
    container_name: source_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: source_db
    ports:
      - "5432:5432"
    volumes:
      - ./db/source.sql:/docker-entrypoint-initdb.d/init.sql

  target_db:
    image: postgres:16
    container_name: target_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: target_db
    ports:
      - "5433:5432"
  
  api:
    build: ./api            
    container_name: api
    ports:
      - "8000:8000"
    depends_on:
      - source_db